.products-container  {
   display: block;
   position: relative;
  margin-top:-10px;
  margin-left:-120px;
height: 500px;
  padding: 5px;
  width: 112%;
}
 
.text-block2 {
   position: absolute;
   top: 50px;
   left: 120px;
   background-color: rgba(24, 21, 21, 0.233);
   color:rgba(255, 230, 0, 0.89);
   padding-left: 20px;
   padding-right: 20px;
   font-size:70px;
   font-family:'Raleway', sans-serif;
  }
  .text-block2 > p{
   color:whitesmoke;
   font-size:37px;
   font-family:'Raleway', sans-serif;
  
  }


  .text-block3 {
   position: absolute;
   top: 650px;
   left: 120px;
   background-color: rgba(24, 21, 21, 0.233);
   color:rgba(255, 230, 0, 0.89);
   padding-left: 20px;
   padding-right: 20px;
   font-size:70px;
   font-family:'Raleway', sans-serif;
  }
  .text-block3 > p{
   color:whitesmoke;
   font-size:37px;
   font-family:'Raleway', sans-serif;
  
  }

  .text-block4 {
   position: absolute;
   top: 1200px;
   left: 120px;
   background-color: rgba(24, 21, 21, 0.233);
   color:rgba(255, 230, 0, 0.89);
   padding-left: 20px;
   padding-right: 20px;
   font-size:70px;
   font-family:'Raleway', sans-serif;
  }
  .text-block4 > p{
   color:whitesmoke;
   font-size:37px;
   font-family:'Raleway', sans-serif;
  
  }

  .text-block5 {
   position: absolute;
   top: 1750px;
   left: 120px;
   background-color: rgba(24, 21, 21, 0.233);
   color:rgba(255, 230, 0, 0.89);
   padding-left: 20px;
   padding-right: 20px;
   font-size:70px;
   font-family:'Raleway', sans-serif;
  }
  .text-block5 > p{
   color:whitesmoke;
   font-size:37px;
   font-family:'Raleway', sans-serif;
  
  }



  .text-block6 {
   position: absolute;
   top: 2300px;
   left: 120px;
   background-color: rgba(24, 21, 21, 0.233);
   color:rgba(255, 230, 0, 0.89);
   padding-left: 20px;
   padding-right: 20px;
   font-size:70px;
   font-family:'Raleway', sans-serif;
  }
  .text-block6 > p{
   color:whitesmoke;
   font-size:37px;
   font-family:'Raleway', sans-serif;
  
  }

  .text-block7 {
   position: absolute;
   top: 2900px;
   left: 120px;
   background-color: rgba(24, 21, 21, 0.233);
   color:rgba(255, 230, 0, 0.89);
   padding-left: 20px;
   padding-right: 20px;
   font-size:70px;
   font-family:'Raleway', sans-serif;
  }
  .text-block7 > p{
   color:whitesmoke;
   font-size:37px;
   font-family:'Raleway', sans-serif;
  
  }

  .text-block8 {
   position: absolute;
   top: 3400px;
   left: 120px;
   background-color: rgba(24, 21, 21, 0.233);
   color:rgba(255, 230, 0, 0.89);
   padding-left: 20px;
   padding-right: 20px;
   font-size:70px;
   font-family:'Raleway', sans-serif;
   width:70%;
  }
  .text-block8 > p{
   color:whitesmoke;
   font-size:37px;
   font-family:'Raleway', sans-serif;
  
  }

  .text-block9 {
   position: absolute;
   top: 3900px;
   left: 150px;
   background-color: rgba(24, 21, 21, 0.233);
   color:rgba(255, 230, 0, 0.89);
   padding-left: 20px;
   padding-right: 20px;
   font-size:70px;
   font-family:'Raleway', sans-serif;
   width:80%;
  }
  .text-block9 > p{
   color:whitesmoke;
   font-size:37px;
   font-family:'Raleway', sans-serif;
  
  }

  .text-block10 {
   position: absolute;
   top: 4450px;
   left: 120px;
   background-color: rgba(24, 21, 21, 0.233);
   color:rgba(255, 230, 0, 0.89);
   padding-left: 20px;
   padding-right: 20px;
   font-size:70px;
   font-family:'Raleway', sans-serif;
  }
  .text-block10 > p{
   color:whitesmoke;
   font-size:37px;
   font-family:'Raleway', sans-serif;
  
  }

  .text-block11 {
   position: absolute;
   top: 5450px;
   left: 120px;
   background-color: rgba(24, 21, 21, 0.233);
   color:rgba(255, 230, 0, 0.89);
   padding-left: 20px;
   padding-right: 20px;
   font-size:70px;
   font-family:'Raleway', sans-serif;
  }
  .text-block11 > p{
   color:whitesmoke;
   font-size:37px;
   font-family:'Raleway', sans-serif;
  
  }
  .text-block0 {
   position: absolute;
   top: 4900px;
   left: 120px;
   background-color: rgba(24, 21, 21, 0.233);
   color:rgba(255, 230, 0, 0.89);
   padding-left: 20px;
   padding-right: 20px;
   font-size:70px;
   font-family:'Raleway', sans-serif;
  }
  .text-block0> p{
   color:whitesmoke;
   font-size:37px;
   font-family:'Raleway', sans-serif;
  
  }

  .text-block12 {
   position: absolute;
   top: 6400px;
   left: 120px;
   background-color: rgba(24, 21, 21, 0.233);
   color:rgba(255, 230, 0, 0.89);
   padding-left: 20px;
   padding-right: 20px;
   font-size:70px;
   font-family:'Raleway', sans-serif;
  }
  .text-block12 > p{
   color:whitesmoke;
   font-size:37px;
   font-family:'Raleway', sans-serif;
  
  }


  .text-block13 {
   position: absolute;
   top: 7550px;
   left: 500px;
   background-color: rgba(24, 21, 21, 0.123);
   color:yellow;
   padding-left: 20px;
   padding-right: 20px;
   font-size:60px;
   font-family:'Raleway', sans-serif;
   font-weight: lighter;
  }
  .text-block13 > p{
   color:whitesmoke;
   font-size:37px;
   font-family:'Raleway', sans-serif;
  
  }

  .text-block14 {
    position: absolute;
    top: 5950px;
    left: 120px;
    background-color: rgba(24, 21, 21, 0.322);
    color:yellow;
    padding-left: 20px;
    padding-right: 20px;
    font-size:50px;
    font-family:'Raleway', sans-serif;
    font-weight: lighter;
   }
   .text-block14 > p{
    color:whitesmoke;
    font-size:20px;
    font-family:'Raleway', sans-serif;
    font-weight:300;
   
   }






   @media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 




    .products-container  {
      display: block;
      position: relative;
     margin-top:-10px;
     margin-left:-120px;
   height: 500px;
     padding: 5px;
     width: 115.5%;
   }
    
   .text-block2 {
      position: absolute;
      top: 80px;
      left: 150px;
      background-color: rgba(24, 21, 21, 0.233);
      color:rgba(255, 230, 0, 0.89);
      padding-left: 20px;
      padding-right: 20px;
      font-size:70px;
      font-family:'Raleway', sans-serif;
     }
     .text-block2 > p{
      color:whitesmoke;
      font-size:25px;
      font-family:'Raleway', sans-serif;
     
     }
   
   
     .text-block3 {
      position: absolute;
      top: 650px;
      left: 150px;
      background-color: rgba(24, 21, 21, 0.233);
      color:rgba(255, 230, 0, 0.89);
      padding-left: 20px;
      padding-right: 20px;
      font-size:70px;
      font-family:'Raleway', sans-serif;
     }
     .text-block3 > p{
      color:whitesmoke;
      font-size:25px;
      font-family:'Raleway', sans-serif;
     
     }
   
     .text-block4 {
      position: absolute;
      top: 1200px;
      left: 150px;
      background-color: rgba(24, 21, 21, 0.233);
      color:rgba(255, 230, 0, 0.89);
      padding-left: 20px;
      padding-right: 20px;
      font-size:70px;
      font-family:'Raleway', sans-serif;
     }
     .text-block4 > p{
      color:whitesmoke;
      font-size:25px;
      font-family:'Raleway', sans-serif;
     
     }
   
     .text-block5 {
      position: absolute;
      top: 1750px;
      left: 150px;
      background-color: rgba(24, 21, 21, 0.233);
      color:rgba(255, 230, 0, 0.89);
      padding-left: 20px;
      padding-right: 20px;
      font-size:70px;
      font-family:'Raleway', sans-serif;
     }
     .text-block5 > p{
      color:whitesmoke;
      font-size:25px;
      font-family:'Raleway', sans-serif;
     
     }
   
   
   
     .text-block6 {
      position: absolute;
      top: 2350px;
      left: 150px;
      background-color: rgba(24, 21, 21, 0.233);
      color:rgba(255, 230, 0, 0.89);
      padding-left: 20px;
      padding-right: 20px;
      font-size:70px;
      font-family:'Raleway', sans-serif;
     }
     .text-block6 > p{
      color:whitesmoke;
      font-size:25px;
      font-family:'Raleway', sans-serif;
     
     }
   
     .text-block7 {
      position: absolute;
      top: 2900px;
      left: 150px;
      background-color: rgba(24, 21, 21, 0.233);
      color:rgba(255, 230, 0, 0.89);
      padding-left: 20px;
      padding-right: 20px;
      font-size:70px;
      font-family:'Raleway', sans-serif;
     }
     .text-block7 > p{
      color:whitesmoke;
      font-size:25px;
      font-family:'Raleway', sans-serif;
     
     }
   
     .text-block8 {
      position: absolute;
      top: 3450px;
      left: 150px;
      background-color: rgba(24, 21, 21, 0.233);
      color:rgba(255, 230, 0, 0.89);
      padding-left: 20px;
      padding-right: 20px;
      font-size:70px;
      font-family:'Raleway', sans-serif;
     }
     .text-block8 > p{
      color:whitesmoke;
      font-size:22px;
      font-family:'Raleway', sans-serif;
     
     }
   
     .text-block9 {
      position: absolute;
      top: 3900px;
      left: 150px;
      background-color: rgba(24, 21, 21, 0.233);
      color:rgba(255, 230, 0, 0.89);
      padding-left: 20px;
      padding-right: 20px;
      font-size:70px;
      font-family:'Raleway', sans-serif;
     }
     .text-block9 > p{
      color:whitesmoke;
      font-size:18px;
      font-family:'Raleway', sans-serif;
     
     }
   
     .text-block10 {
      position: absolute;
      top: 4400px;
      left: 150px;
      background-color: rgba(24, 21, 21, 0.233);
      color:rgba(255, 230, 0, 0.89);
      padding-left: 20px;
      padding-right: 20px;
      font-size:70px;
      font-family:'Raleway', sans-serif;
     }
     .text-block10 > p{
      color:whitesmoke;
      font-size:25px;
      font-family:'Raleway', sans-serif;
     
     }
   
     .text-block11 {
      position: absolute;
      top: 5450px;
      left: 140px;
      background-color: rgba(24, 21, 21, 0.233);
      color:rgba(255, 230, 0, 0.89);
      padding-left: 20px;
      padding-right: 20px;
      font-size:70px;
      font-family:'Raleway', sans-serif;
     }
     .text-block11 > p{
      color:whitesmoke;
      font-size:25px;
      font-family:'Raleway', sans-serif;
     
     }
     .text-block0 {
      position: absolute;
      top: 4950px;
      left: 150px;
      background-color: rgba(24, 21, 21, 0.233);
      color:rgba(255, 230, 0, 0.89);
      padding-left: 20px;
      padding-right: 20px;
      font-size:70px;
      font-family:'Raleway', sans-serif;
     }
     .text-block0> p{
      color:whitesmoke;
      font-size:25px;
      font-family:'Raleway', sans-serif;
     
     }
   
     .text-block12 {
      position: absolute;
      top: 6400px;
      left: 150px;
      background-color: rgba(24, 21, 21, 0.233);
      color:rgba(255, 230, 0, 0.89);
      padding-left: 20px;
      padding-right: 20px;
      font-size:70px;
      font-family:'Raleway', sans-serif;
     }
     .text-block12 > p{
      color:whitesmoke;
      font-size:37px;
      font-family:'Raleway', sans-serif;
     
     }
   
   
     .text-block13 {
      position: absolute;
      top: 7550px;
      left: 200px;
      background-color: rgba(24, 21, 21, 0.123);
      color:yellow;
      padding-left: 20px;
      padding-right: 20px;
      font-size:50px;
      font-family:'Raleway', sans-serif;
      font-weight: lighter;
     }
     .text-block13 > p{
      color:whitesmoke;
      font-size:25px;
      font-family:'Raleway', sans-serif;
     
     }
   
     .text-block14 {
       position: absolute;
       top: 5950px;
       left: 120px;
       background-color: rgba(24, 21, 21, 0.322);
       color:yellow;
       padding-left: 20px;
       padding-right: 20px;
       font-size:50px;
       font-family:'Raleway', sans-serif;
       font-weight: lighter;
      }
      .text-block14 > p{
       color:whitesmoke;
       font-size:20px;
       font-family:'Raleway', sans-serif;
       font-weight:300;
      


  }
}





@media only screen 
and (min-device-width: 960px) 
and (max-device-width: 1024px) {


  .products-container  {
    display: block;
    position: relative;
   margin-top:-9px;
   margin-left:-120px;
 height: 500px;
   padding: 5px;
   width: 117.5%;
 }
  
 .text-block2 {
    position: absolute;
    top: 80px;
    left: 150px;
    background-color: rgba(24, 21, 21, 0.233);
    color:rgba(255, 230, 0, 0.89);
    padding-left: 20px;
    padding-right: 20px;
    font-size:70px;
    font-family:'Raleway', sans-serif;
   }
   .text-block2 > p{
    color:whitesmoke;
    font-size:20px;
    font-family:'Raleway', sans-serif;
   
   }
 
 
   .text-block3 {
    position: absolute;
    top: 650px;
    left: 150px;
    background-color: rgba(24, 21, 21, 0.233);
    color:rgba(255, 230, 0, 0.89);
    padding-left: 20px;
    padding-right: 20px;
    font-size:70px;
    font-family:'Raleway', sans-serif;
   }
   .text-block3 > p{
    color:whitesmoke;
    font-size:20px;
    font-family:'Raleway', sans-serif;
   
   }
 
   .text-block4 {
    position: absolute;
    top: 1200px;
    left: 150px;
    background-color: rgba(24, 21, 21, 0.233);
    color:rgba(255, 230, 0, 0.89);
    padding-left: 20px;
    padding-right: 20px;
    font-size:70px;
    font-family:'Raleway', sans-serif;
   }
   .text-block4 > p{
    color:whitesmoke;
    font-size:20px;
    font-family:'Raleway', sans-serif;
   
   }
 
   .text-block5 {
    position: absolute;
    top: 1750px;
    left: 150px;
    background-color: rgba(24, 21, 21, 0.233);
    color:rgba(255, 230, 0, 0.89);
    padding-left: 20px;
    padding-right: 20px;
    font-size:70px;
    font-family:'Raleway', sans-serif;
   }
   .text-block5 > p{
    color:whitesmoke;
    font-size:20px;
    font-family:'Raleway', sans-serif;
   
   }
 
 
 
   .text-block6 {
    position: absolute;
    top: 2350px;
    left: 150px;
    background-color: rgba(24, 21, 21, 0.233);
    color:rgba(255, 230, 0, 0.89);
    padding-left: 20px;
    padding-right: 20px;
    font-size:70px;
    font-family:'Raleway', sans-serif;
   }
   .text-block6 > p{
    color:whitesmoke;
    font-size:20px;
    font-family:'Raleway', sans-serif;
   
   }
 
   .text-block7 {
    position: absolute;
    top: 2900px;
    left: 150px;
    background-color: rgba(24, 21, 21, 0.233);
    color:rgba(255, 230, 0, 0.89);
    padding-left: 20px;
    padding-right: 20px;
    font-size:70px;
    font-family:'Raleway', sans-serif;
   }
   .text-block7 > p{
    color:whitesmoke;
    font-size:20px;
    font-family:'Raleway', sans-serif;
   
   }
 
   .text-block8 {
    position: absolute;
    top: 3450px;
    left: 150px;
    background-color: rgba(24, 21, 21, 0.233);
    color:rgba(255, 230, 0, 0.89);
    padding-left: 20px;
    padding-right: 20px;
    font-size:50px;
    font-family:'Raleway', sans-serif;
   }
   .text-block8 > p{
    color:whitesmoke;
    font-size:18px;
    font-family:'Raleway', sans-serif;
   
   }
 
   .text-block9 {
    position: absolute;
    top: 3900px;
    left: 150px;
    background-color: rgba(24, 21, 21, 0.233);
    color:rgba(255, 230, 0, 0.89);
    padding-left: 20px;
    padding-right: 20px;
    font-size:70px;
    font-family:'Raleway', sans-serif;
    width: 70%;
   }
   .text-block9 > p{
    color:whitesmoke;
    font-size:18px;
    font-family:'Raleway', sans-serif;
   
   }
 
   .text-block10 {
    position: absolute;
    top: 4400px;
    left: 160px;
    background-color: rgba(24, 21, 21, 0.233);
    color:rgba(255, 230, 0, 0.89);
    padding-left: 20px;
    padding-right: 20px;
    font-size:70px;
    font-family:'Raleway', sans-serif;
    width: 70%;
   }
   .text-block10 > p{
    color:whitesmoke;
    font-size:25px;
    font-family:'Raleway', sans-serif;
   
   }
 
   .text-block11 {
    position: absolute;
    top: 5450px;
    left: 150px;
    background-color: rgba(24, 21, 21, 0.233);
    color:rgba(255, 230, 0, 0.89);
    padding-left: 20px;
    padding-right: 20px;
    font-size:70px;
    font-family:'Raleway', sans-serif;
   }
   .text-block11 > p{
    color:whitesmoke;
    font-size:25px;
    margin-left: -250px;
    font-family:'Raleway', sans-serif;
   
   }
   .text-block0 {
    position: absolute;
    top: 4950px;
    left: 150px;
    background-color: rgba(24, 21, 21, 0.233);
    color:rgba(255, 230, 0, 0.89);
    padding-left: 20px;
    padding-right: 20px;
    font-size:70px;
    font-family:'Raleway', sans-serif;
   }
   .text-block0> p{
    color:whitesmoke;
    font-size:20px;
    font-family:'Raleway', sans-serif;
   
   }
 
   .text-block12 {
    position: absolute;
    top: 6400px;
    left: 150px;
    background-color: rgba(24, 21, 21, 0.233);
    color:rgba(255, 230, 0, 0.89);
    padding-left: 20px;
    padding-right: 20px;
    font-size:70px;
    font-family:'Raleway', sans-serif;
   }
   .text-block12 > p{
    color:whitesmoke;
    font-size:37px;
    font-family:'Raleway', sans-serif;
   
   }
 
 
   .text-block13 {
    position: absolute;
    top: 7570px;
    left: 190px;
    background-color: rgba(24, 21, 21, 0.123);
    color:yellow;
    padding-left: 20px;
    padding-right: 20px;
    font-size:40px;
    font-family:'Raleway', sans-serif;
    font-weight: lighter;
   }
   .text-block13 > p{
    color:whitesmoke;
    font-size:25px;
    font-family:'Raleway', sans-serif;
   
   }
 
   .text-block14 {
     position: absolute;
     top: 5880px;
     left: 150px;
     background-color: rgba(24, 21, 21, 0.322);
     color:yellow;
     padding-left: 20px;
     padding-right: 20px;
     font-size:50px;
     font-family:'Raleway', sans-serif;
     font-weight: lighter;
     width: 70%;
    }
    .text-block14 > p{
     color:whitesmoke;
     font-size:20px;
     font-family:'Raleway', sans-serif;
     font-weight:300;
    


}

}


@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) {

  .products-container  {
    display: block;
    position: relative;
   margin-top:-9px;
   margin-left:-120px;
 height: 500px;
   padding: 2px;
   width: 140%;
 }
  
 .text-block2 {
    position: absolute;
    top: 80px;
    left: 110px;
    background-color: rgba(24, 21, 21, 0.233);
    color:rgba(255, 230, 0, 0.89);
    padding-left: 10px;
    padding-right: 10px;
    font-size:25px;
    font-family:'Raleway', sans-serif;
    width: 60%;
   }
   .text-block2 > p{
    color:whitesmoke;
    font-size:20px;
    font-family:'Raleway', sans-serif;
   
   }
 
 
   .text-block3 {
    position: absolute;
    top: 650px;
    left: 120px;
    background-color: rgba(24, 21, 21, 0.233);
    color:rgba(255, 230, 0, 0.89);
    padding-left: 20px;
    padding-right: 20px;
    font-size:30px;
    font-family:'Raleway', sans-serif;
    width: 60%;
   }
   .text-block3 > p{
    color:whitesmoke;
    font-size:20px;
    font-family:'Raleway', sans-serif;
   
   }
 
   .text-block4 {
    position: absolute;
    top: 1200px;
    left: 120px;
    background-color: rgba(24, 21, 21, 0.233);
    color:rgba(255, 230, 0, 0.89);
    padding-left: 20px;
    padding-right: 20px;
    font-size:50px;
    font-family:'Raleway', sans-serif;
    width: 60%;
   }
   .text-block4 > p{
    color:whitesmoke;
    font-size:20px;
    font-family:'Raleway', sans-serif;
   
   }
 
   .text-block5 {
    position: absolute;
    top: 1750px;
    left: 120px;
    background-color: rgba(24, 21, 21, 0.233);
    color:rgba(255, 230, 0, 0.89);
    padding-left: 20px;
    padding-right: 20px;
    font-size:50px;
    font-family:'Raleway', sans-serif;
    width: 60%;
   }
   .text-block5 > p{
    color:whitesmoke;
    font-size:20px;
    font-family:'Raleway', sans-serif;
   
   }
 
 
 
   .text-block6 {
    position: absolute;
    top: 2350px;
    left: 120px;
    background-color: rgba(24, 21, 21, 0.233);
    color:rgba(255, 230, 0, 0.89);
    padding-left: 20px;
    padding-right: 20px;
    font-size:50px;
    font-family:'Raleway', sans-serif;
    width: 60%;
   }
   .text-block6 > p{
    color:whitesmoke;
    font-size:20px;
    font-family:'Raleway', sans-serif;
   
   }
 
   .text-block7 {
    position: absolute;
    top: 2900px;
    left: 120px;
    background-color: rgba(24, 21, 21, 0.233);
    color:rgba(255, 230, 0, 0.89);
    padding-left: 20px;
    padding-right: 20px;
    font-size:50px;
    font-family:'Raleway', sans-serif;
    width: 60%; 
   }
   .text-block7 > p{
    color:whitesmoke;
    font-size:20px;
    font-family:'Raleway', sans-serif;
   
   }
 
   .text-block8 {
    position: absolute;
    top: 3400px;
    left: 120px;
    background-color: rgba(24, 21, 21, 0.233);
    color:rgba(255, 230, 0, 0.89);
    padding-left: 20px;
    padding-right: 20px;
    font-size:50px;
    font-family:'Raleway', sans-serif;
    width: 60%;
   }
   .text-block8 > p{
    color:whitesmoke;
    font-size:18px;
    font-family:'Raleway', sans-serif;
   
   }
 
   .text-block9 {
    position: absolute;
    top: 3900px;
    left: 120px;
    background-color: rgba(24, 21, 21, 0.233);
    color:rgba(255, 230, 0, 0.89);
    padding-left: 20px;
    padding-right: 20px;
    font-size:50px;
    font-family:'Raleway', sans-serif;
    width: 60%;
   }
   .text-block9 > p{
    color:whitesmoke;
    font-size:18px;
    font-family:'Raleway', sans-serif;
   
   }
 
   .text-block10 {
    position: absolute;
    top: 4350px;
    left: 120px;
    background-color: rgba(24, 21, 21, 0.233);
    color:rgba(255, 230, 0, 0.89);
    padding-left: 20px;
    padding-right: 20px;
    font-size:50px;
    font-family:'Raleway', sans-serif;
    width: 60%;
   }
   .text-block10 > p{
    color:whitesmoke;
    font-size:25px;
    font-family:'Raleway', sans-serif;
   
   }
 
   .text-block11 {
    position: absolute;
    top: 5450px;
    left: 120px;
    background-color: rgba(24, 21, 21, 0.233);
    color:rgba(255, 230, 0, 0.89);
    padding-left: 20px;
    padding-right: 20px;
    font-size:50px;
    font-family:'Raleway', sans-serif;
    width: 60%;
   }
   .text-block11 > p{
    color:whitesmoke;
    font-size:25px;
    margin-left: -180px;
    font-family:'Raleway', sans-serif;
   
   }
   .text-block0 {
    position: absolute;
    top: 4950px;
    left: 120px;
    background-color: rgba(24, 21, 21, 0.233);
    color:rgba(255, 230, 0, 0.89);
    padding-left: 20px;
    padding-right: 20px;
    font-size:50px;
    font-family:'Raleway', sans-serif;
    width: 60%;
   }
   .text-block0> p{
    color:whitesmoke;
    font-size:20px;
    font-family:'Raleway', sans-serif;
   
   }
 
   .text-block12 {
    position: absolute;
    top: 6750px;
    left: 120px;
    background-color: rgba(24, 21, 21, 0.233);
    color:rgba(255, 230, 0, 0.89);
    padding-left: 20px;
    padding-right: 20px;
    font-size:50px;
    font-family:'Raleway', sans-serif;
    width: 60%;
   }
   .text-block12 > p{
    color:whitesmoke;
    font-size:25px;
    font-family:'Raleway', sans-serif;
   
   }
 
 
   .text-block13 {
    position: absolute;
    top: 7570px;
    left: 100px;
    background-color: rgba(24, 21, 21, 0.123);
    color:yellow;
    padding-left: 20px;
    padding-right: 20px;
    font-size:40px;
    font-family:'Raleway', sans-serif;
    font-weight: lighter;
    width: 70%;
   }
   .text-block13 > p{
    color:whitesmoke;
    font-size:25px;
    font-family:'Raleway', sans-serif;
   
   }
 
   .text-block14 {
     position: absolute;
     top: 5950px;
     left: 100px;
     background-color: rgba(24, 21, 21, 0.322);
     color:yellow;
     padding-left: 20px;
     padding-right: 20px;
     font-size:15px;
     font-family:'Raleway', sans-serif;
     font-weight: lighter;
     width: 65%;
    }
    .text-block14 > p{
     color:whitesmoke;
     font-size:15px;
     font-family:'Raleway', sans-serif;
     font-weight:300;
    


}


}